<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X_UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css" />
  </head>

  <body>
    <header class = "header">
        <nav>
            <a class="brand" href="" title="PDFWrite">
                <img src="img/SR.png" alt="PDFWrite">
            </a>
            <div class="title"> Creador de constancias </div>

            <div class="links">
                <a data-rel="redirect" href=""> Feedback  </a>
                <a data-rel="redirect" href=""> Contacto </a>
            </div>

            
        </nav>
    </header>


    <div class = "main">
        <div class="description">
            <h1> Crea multiples constancias solo con la plantilla y la lista de nombres </h1>
            <h2> Simplemente sube tu plantilla en formato PDF en la primer casilla, después sube un archivo de excel o CSV con los nombres  </h2>
        </div>

        <div class = "entradas">
            <div class="PDF upload-box">
            <form>
                <label for="pdf" class="upload-label">
                <span>Subir PDF</span>
                </label>
                <input type="file" id="pdf" accept="application/pdf">
            </form>
            </div>


            <div class="lista upload-box">
            <label for="listas" class="upload-label">
                <span>Subir listas</span>
                <small>CSV o XLSX</small>
            </label>
            <input type="file" id="listas" accept=".csv,.xlsx">
            </div>

            <button id="button_submit">Crear</button>

            <div class="format">
                <label for="modelo">Formato:</label>
                <select id="modelo" name="modelo">
                    <option value="">Selecciona una opción</option>
                    <option value="a4_land">A4 (Landscape) </option>
                    <option value="a4_vert">A4 (Vertical)</option>
                    <option value="oficio">Oficio</option>
                </select>

                <label for="fonts">Fuente:</label>
                <select id="fonts"></select>

                    <p style="font-family: var(--font-preview);">
                        Texto de ejemplo
                    </p>

                <label>Coordenadas:</label>
                <input type="number" id="X" placeholder="x" min="1" />
                <input type="number" id="Y" placeholder="y" min="1" />
            </div>

        </div>
    </div>


    <div class = "footer-main">

    </div>

    <script type="module" src="../static/script.js"></script>
  </body>

</html>